:root {
    --bulma-block-spacing: 0rem;
    --bulma-body-size: 0.9em;
}

html, body {
    height:100vh;
}

#city-name {
    text-transform: capitalize;
}

#city-current {
    border:dotted 2px;
    border-color:rgb(47, 47, 47);
    border-right:0;
    border-top:0;
    border-left:0;
}

img {
margin-bottom:-17px;
}
